<div id="search-perfumes" class="bg-image">
  {{! Search bar }}
  <div class="input-group">
    <form id="form" action="/perfumes/search" method="GET">
      <input class="form-control rounded" placeholder="Search by favorite perfume, manufacturer, fragrance or component" name="q"
        type="search" aria-label="Search" size="70%" />
      <button type="submit" class="btn btn-outline-primary btn-search">Search</button>
    </form>
  </div>

  {{#if searchResults}}
  <p class="searched-for">Results for: <b> {{query}} </b> </p>

  {{#each searchResults}}
  <div class="card-position">
    <div class="card2 mb-4" style="max-width: 60rem;">
      <div class="row g-0">
        <div class="img-left-side col-md-4">
          <img src="{{this.image}}" alt="Perfume Photo">
        </div>
        <div class="col-md-8">
          <div class="text-perfume">
            <div class="container-card">
              <h4 class="perfume-name"><b>{{this.name}}</b></h4>
              <p class="perfume-manufacturer">{{this.manufacturer}}</p>
              <p class="fragrance-txt-find"><i>Fragrance: </i> {{this.fragrance}}</p>
              <p class="fragrance-txt-find"><i>Composition: </i> {{this.composition}}</p>
            </div>
          </div>
           <div class="buttons-to-edit">
            {{#if user.store}}
            <button class="btn-edit"><a href="/perfume/{{foundPerfume._id}}/edit">Edit</a></button>
            {{/if}}


            <form action="/perfume/{{foundPerfume._id}}/delete" method="POST">
              {{#if user.store}} <button class="btn-edit" action="submit">Delete</button> {{/if}}
            </form>
  
            <form action="/available/{{foundPerfume._id}}" method="POST">
              {{#if user.store}} <button class="btn-edit" action="submit">Add to stock</button> {{/if}}
            </form>
            <form action="/delete-available/{{foundPerfume._id}}" method="POST">
              {{#if user.store}} <button class="btn-edit" action="submit">Remove from stock</button> {{/if}}
            </form>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

  {{/each}}

  {{/if}}
</div>