


{{#if user.store}}

<h2>Edit Perfume</h2>
  <div class="edit-perfume">
          

          <form action="/perfumes/{{foundPerfume._id}}/edit" method="POST">

            <p>   
                  <label>Name:</label>
                  <input type="text" name="name" value="{{foundPerfume.name}}"  size="50"/>
              </p>

              <p>
                  <label>Manufacturer:</label>
                  <input type="text" name="manufacturer" value="{{foundPerfume.manufacturer}}"  size="50"/> 
              </p>

            <p>
                  <label>Fragrance:</label>
                  <input type="text" name="fragrance" value="{{foundPerfume.fragrance}}"  size="50"/>
            </p>

            <p>
                  <label>Composition:</label>
                  <input type="text" name="composition" value="{{foundPerfume.composition}}"  size="50"/>
            </p>


          <button action="submit">Submit</button>  <button action="/perfumes/delete">Delete</button>
          </form>

  </div>
{{else}}
<div class="no-credentials">
  <h2> This is the edit page.</h2>
  <h3>You don't have credentials to edit. </h3> 
</div>
{{/if}}

{{#if errorMessage}}
  <div class="error-message">{{ errorMessage }}</div>
{{/if}}